{% extends 'base.html.twig' %}

{% block title %}TypeArticle index{% endblock %}

{% block body %}
    <div class="pageindextypearticle">
    <h1>TypeArticle</h1>

    <div class="typearticleliste">
        <div class="desctypearticle">
            <div>Id</div>
            <div>NomType</div>
            <div>actions</div>
        </div>
        <div class="touttypearticle">
        {% for type_article in type_articles %}
            <div class="typearticle">
                <div>{{ type_article.id }}</div>
                <div>{{ type_article.nomType }}</div>
                <div><a href="{{ path('app_type_article_edit', {'id': type_article.id}) }}">Modifier</a></div>
            </div>
        {% else %}
            <div>
                <div colspan="3">no records found</div>
            </div>
        {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_type_article_new') }}" class="btn-newtypearticle"><button>Créer un Type</button></a>
{% endblock %}
