{% extends 'base.html.twig' %}

{% block title %}New TypeArticle{% endblock %}

{% block body %}
    
    <div class="containerCRUD">
        <div id="addArticleContainerCRUD">
        <h2>Créer un nouveau type d'article</h2>
            <div class="container_recherche" id="container_recherche">
                {{ include('type_article/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_type_article_index') }}">back to list</a>
    </div>
{% endblock %}
