@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1{
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-size: 3rem;
}

body {
    background-color: rgb(255, 255, 255);
}

.navigation-bar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0 1rem;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    
}

.form-pseudo,.form-liste {
    height: 10vh;
    font-family: 'Helvetica 55 Roman', sans-serif;
    width:30vw;
    background-color: rgb(255, 255, 255);
    font-size: 3vw;
    text-align: center;
    border: 3px solid black;
}

input::placeholder {
    text-align: center;
    font-style: italic;
}
.hidden{
    display: none;
    opacity: 0;
}

#formDebut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

#ligneDebut {
    width: 0;
    height:10rem;
    border: 2px solid black;
}

#statsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-right: 3px black solid;
    border-top: none;
    height: 5rem;
    flex-direction: column;
}
#formcreateliste{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}
#backliste{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: calc(90vh - 100px - 10rem - 12px);
}
.backliste{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    font-family: 'Helvetica 55 Roman', sans-serif;
    width:10vw;
    background-color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    border: 3px solid black;
}
.pageshowlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.infoliste{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.dateCreationliste,.nomliste{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    font-family: 'Helvetica 55 Roman', sans-serif;
    width:20vw;
    background-color: rgb(0, 0, 0);
    font-size: 1vw;
    text-align: center;
    color: white;

}