* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: lightgray;
}

.navigation-bar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 1rem;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    
}

.form-pseudo {
    
    height: 40px;
    width: 150px;
    border : 2px solid #333;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75px, -50%);
}
input::placeholder {
    text-align: center;
}
.hidden{
    display: none;
    opacity: 0;
}