{% extends 'base.html.twig' %}

{% block title %}New Compose{% endblock %}

{% block body %}
    <h1>Create new Compose</h1>

    {{ include('compose/_form.html.twig') }}

    <a href="{{ path('app_compose_index') }}">back to list</a>
{% endblock %}
