{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="containerCRUD">
        <div id="addArticleContainerCRUD">
        <h2>Créer un nouvel article</h2>
            <div class="container_recherche" id="container_recherche">
                {{ include('article/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_article_index') }}">back to list</a>
    </div>
{% endblock %}
