{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}
    <h1>Create new Liste</h1>
    
        <td>{{ liste }}</td>
        <ul id="allIng"> 
        </ul>
        <div class="container_recherche" id="container_recherche">


            <input type="text" placeholder="Insérez vos ingrédients:" list="platsLi" id="inpPlats">
            <datalist id="platsLi">

                {% for article in articles %}
                    <option value="{{ article.getNomArticle }}">
                        {{ article.getNomArticle }}
                    </option>
                {% endfor %}

            </datalist>
            <button type="button" id="btnAjout">Ajouter</button>
        </div>


    <a href="{{ path('app_user_liste') }}">back to list</a>
{% endblock %}