{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}
<div id="formcreateliste">
    <div id="ligneDebut"></div>

    {{ include('liste/_form.html.twig') }}
</div>
<div id="backliste">
    <a href="{{ path('app_user_liste') }}" class="backliste">back to list</a>
</div>
{% endblock %}